@import 'tailwindcss';

@import '../../../styles/theme.css';

.why-us {
  @apply relative bg-gradient-to-b from-gray-900 to-primary py-20;
}

.whyus-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-10;
}

.whyus-header {
  @apply text-center mb-16;
}

.whyus-title {
  @apply text-3xl md:text-4xl font-bold text-light mb-4;
}

.whyus-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8;
}

.whyus-reason {
  @apply text-center;
}

.whyus-reason-content {
  @apply p-6 rounded-xl transition-all duration-300 shadow-sm hover:shadow-xl shadow-primary grid content-between h-full backdrop-blur-sm;
}

.whyus-icon {
  @apply w-16 h-16 rounded-full bg-gradient-to-r from-e-blue to-l-blue flex items-center justify-center text-white mx-auto mb-10;
  box-shadow: 0 10px 25px #007bff;
}

.whyus-reason-title {
  @apply text-xl font-bold text-light mb-3;
}

.whyus-reason-description {
  @apply text-white;
}

.whyus-cta {
  @apply text-center mt-12;
}

.whyus-btn-brand {
  @apply inline-flex items-center px-6 py-3 text-base font-medium rounded-full bg-e-blue text-light hover:bg-l-blue transition-colors duration-200;
}
