/* src/styles/globals.css */

@import "tailwindcss";

@theme {
  --color-primary-start: #6dff00ff;
  --color-primary-end: #a4ff00ff;
  --color-background: #1a2421ff;
}

.bg-brand-background {
  background-color: var(--color-background);
}

.text-brand-primary {
  background: linear-gradient(
    to right,
    var(--color-primary-start),
    var(--color-primary-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-brand-primary {
  background: linear-gradient(
    to right,
    var(--color-primary-start),
    var(--color-primary-end)
  );
}

html {
  scroll-behavior: smooth;
}

/* يمكنك استخدام @apply لتعريف كلاسات مخصصة */
.btn-brand {
  @apply bg-brand-primary text-white font-bold py-2 px-4 rounded-full hover:opacity-90 transition-opacity;
}

.card-brand {
  @apply bg-white rounded-lg shadow-md overflow-hidden border border-gray-200;
}
